<div class="schedule-block" id="schedule-block">
    <div class="container">
        <div class="row">
            <h4 class="main-title">Agenda
                <a href="assets/files/agenda.pdf" target="_blank"class="download-link">(<i class="fa fa-download"></i>Descargar)</a>
            </h4>
            
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3">
                        <a href="#sala1"><strong>SALA I </strong><i>(Amalia Gallardo)</i></a>
                    </li>
                    <li class="tab col s3">
                        <a href="#sala2"><strong>SALA II </strong><i>(Oscar Soria Gamarra)</i></a>
                    </li>
                    <li class="tab col s3">
                        <a href="#sala3"><strong>AULA </strong>Luis Bazoberry (Codelabs)</a>
                    </li>
                </ul>
            </div>
            
            <div id="sala1" class="col s12 tabs-panel-wrapper">
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">view_module</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>08:30 - 09:00</span>
                            </div>
                            <h5>REGISTRO DE PARTICIPANTES</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Victor Aguilar" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:00 - 09:15</span>
                                <i class="fa fa-user"></i> <span>Victor Aguilar</span>
                            </div>
                            <h5>INTRODUCCION Y BIENVENIDA</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Sergio Mejia" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:15 - 09:50</span>
                                <i class="fa fa-user"></i> <span>Sergio Mejia</span>
                            </div>
                            <h5>Monetizando con Apps - InApp Billing</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Miguel Callejas" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:50 - 10:25</span>
                                <i class="fa fa-user"></i> <span>Miguel Callejas</span>
                            </div>
                            <h5>La infraestructura para IOT</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:25 - 10:45</span>
                            </div>
                            <h5>REFRIGERIO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Marco Avendaño" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:45 - 11:20</span>
                                <i class="fa fa-user"></i> <span>Marco Avendaño</span>
                            </div>
                            <h5>Kotlin: El despertar de la fuerza!</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Rosa María Orellana" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>11:20 - 11:55</span>
                                <i class="fa fa-user"></i> <span>Rosa María Orellana</span>
                            </div>
                            <h5>Design Thinking - Aprendamos a diseñar!</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="GDE Enrique Diaz" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>11:55 - 12:35</span>
                                <i class="fa fa-user"></i> <span>GDE Enrique Diaz</span>
                            </div>
                            <h5>Como y porque ser Google Developer Expert</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Andres Vasquez" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>12:35 - 12:45</span>
                                <i class="fa fa-user"></i> <span>Andres Vasquez</span>
                            </div>
                            <h5>IGNITE: Red Nueva Empresa</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>12:45 - 13:15</span>
                            </div>
                            <h5>ALMUERZO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Antonio Guzman" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>13:15 - 13:55</span>
                                <i class="fa fa-user"></i> <span>Antonio Guzman</span>
                            </div>
                            <h5>Los GDGs como semillero de proyectos</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="/img/avatar_default.png" alt="Mojix - Coderoad" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>13:55 - 14:30</span>
                                <i class="fa fa-user"></i> <span>Mojix - Coderoad</span>
                            </div>
                            <h5>Charla IOT</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Daniel Alvarez" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>14:30 - 15:05</span>
                                <i class="fa fa-user"></i> <span>Daniel Alvarez</span>
                            </div>
                            <h5>Apps que se vean y se sientan bien</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Rene Michel" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>15:05 - 15:40</span>
                                <i class="fa fa-user"></i> <span>Rene Michel</span>
                            </div>
                            <h5>Como hacer Networking</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
            </div>
            
            <div id="sala2" class="col s12 tabs-panel-wrapper">
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">view_module</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>08:30 - 09:00</span>
                            </div>
                            <h5>REGISTRO DE PARTICIPANTES</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Marco Avendaño" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:00 - 09:15</span>
                                <i class="fa fa-user"></i> <span>Marco Avendaño</span>
                            </div>
                            <h5>INTRODUCCION Y BIENVENIDA</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Yamil Urbina" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:15 - 09:50</span>
                                <i class="fa fa-user"></i> <span>Yamil Urbina</span>
                            </div>
                            <h5>Docker para principiantes</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Ruth Chirinos" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:50 - 10:25</span>
                                <i class="fa fa-user"></i> <span>Ruth Chirinos</span>
                            </div>
                            <h5>Hacer que los números cuenten: Google Analytics</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:25 - 10:45</span>
                            </div>
                            <h5>REFRIGERIO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Andres Vasquez" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:45 - 11:20</span>
                                <i class="fa fa-user"></i> <span>Andres Vasquez</span>
                            </div>
                            <h5>Android Libs</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg.png" alt="Ruth Garcia" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>11:20 - 11:55</span>
                                <i class="fa fa-user"></i> <span>Ruth Garcia</span>
                            </div>
                            <h5>Desarrollo de videojuegos para llaneros solitarios</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Maria Morales" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>11:55 - 12:35</span>
                                <i class="fa fa-user"></i> <span>Maria Morales</span>
                            </div>
                            <h5>BPMN aplicado a Google Apps Scripts</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Willmar Pimentel" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>12:35 - 12:45</span>
                                <i class="fa fa-user"></i> <span>Willmar Pimentel</span>
                            </div>
                            <h5>IGNITE: Bolivia Tech Hub origins</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>12:45 - 13:15</span>
                            </div>
                            <h5>ALMUERZO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Cristian Cornejo" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>13:15 - 13:55</span>
                                <i class="fa fa-user"></i> <span>Cristian Cornejo</span>
                            </div>
                            <h5>Android Annotations, simplifica tu código</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Milton Yarleque" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>13:55 - 14:30</span>
                                <i class="fa fa-user"></i> <span>Milton Yarleque</span>
                            </div>
                            <h5>Desarrollando con Ionic</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Ibar Vasquez" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>14:30 - 15:05</span>
                                <i class="fa fa-user"></i> <span>Ibar Vasquez</span>
                            </div>
                            <h5>Investigación Forense Digital Android</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Armando Picon" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>15:05 - 15:40</span>
                                <i class="fa fa-user"></i> <span>Armando Picon</span>
                            </div>
                            <h5>Realizando UI Testing con Android Espresso</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
            </div>
            <div id="sala3" class="col s12 tabs-panel-wrapper">
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">view_module</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>08:30 - 09:00</span>
                            </div>
                            <h5>REGISTRO DE PARTICIPANTES</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Gustavo Lizarraga" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>09:15 - 10:25</span>
                                <i class="fa fa-user"></i> <span>Gustavo Lizarraga</span>
                            </div>
                            <h5>CODELAB: Build VR with Google CardBoard</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:25 - 10:45</span>
                            </div>
                            <h5>REFRIGERIO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="GDE Antonio Guzman" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>10:45 - 11:55</span>
                                <i class="fa fa-user"></i> <span>GDE Antonio Guzman</span>
                            </div>
                            <h5>CODELAB: Firebase y Android.</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <div class="schedule-break"><i class="material-icons md-36">local_cafe</i></div>
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>12:45 - 13:15</span>
                            </div>
                            <h5>ALMUERZO</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="GDE Enrique Díaz" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>13:15 - 14:30</span>
                                <i class="fa fa-user"></i> <span>GDE Enrique Díaz</span>
                            </div>
                            <h5>CODELAB: Material Design en Android SDK</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="/img/avatar_default.png" alt="Antonio Guzman y Enrique Díaz" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>15:05 - 15:40</span>
                                <i class="fa fa-user"></i> <span>Antonio Guzman y Enrique Díaz</span>
                            </div>
                            <h5>Sesión de Preguntas Técnicas a los Experts.</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
                <div class="schedule-item">
                    <div class="schedule-item-img">
                        <img class="avatar-image" src="assets/img/Yo.jpg" alt="Jennylee Murillo" />
                    </div>
                    <div class="schedule-item-info">
                        <div class="item-info-inner">
                            <div class="item-info-time">
                                <i class="fa fa-clock-o"></i> <span>15:40 - 16:00</span>
                                <i class="fa fa-user"></i> <span>Jennylee Murillo</span>
                            </div>
                            <h5>Presentación Women Tech Makers</h5>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>
</div>